In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

if 'src' not in sys.path:
    sys.path.append(os.path.abspath('.'))
    sys.path.append(os.path.abspath('./src'))

In [3]:
from utils import ConfigLoader
from scraper import StardewScraper
from analysis import TextAnalyzer

In [4]:
config = ConfigLoader()
print(config)

<Config = {'wiki_url': 'https://stardewvalleywiki.com', 'request_timeout': 10, 'user_agent': 'WikiScraper/1.0', 'accept-language': 'en-US,en;q=0.9', 'mode': 'stardew_normal', 'is_debug': 0}, ConfigLoader keys = {'GOOGLE_API_KEY': '6969...******'}>

In [5]:
scraper = StardewScraper(config)

In [6]:
target = "emily"

In [7]:
html = scraper.fetch_page(target)

In [8]:
summary = scraper.parse_summary(html)

In [9]:
summary

"Emily is a villager who lives in Pelican Town. She's one of the twelve characters available to marry. Her home is south of the town square, right next to Jodi's house, at the address 2 Willow Lane. She works most evenings at The Stardrop Saloon starting at about 4:00 PM."

In [10]:
tables = scraper.extract_tables(html)

In [11]:
tables[0]

                                               Desert Festival (As Vendor).1
Desert Festival (As Vendor)
11:10 AM                                        Boards bus to Calico Desert.
11:30 AM                                               Arrives at her booth.
12:00 AM                     Leaves booth and boards bus back to the Valley.

In [12]:
count_occurrences = TextAnalyzer.sum_word_occurences(tables[0])

In [13]:
count_occurrences

                                            Phrase  Times Occurred
0                     Boards bus to Calico Desert.               1
1                            Arrives at her booth.               1
2  Leaves booth and boards bus back to the Valley.               1

In [14]:
words = scraper.extract_all_words(html)

In [15]:
words

             word
0           emily
1     information
2        birthday
3          spring
4           lives
...           ...
6225      mariner
6226    professor
6227        snail
6228        sandy
6229       wizard

[6230 rows x 1 columns]

In [16]:
word_occurences = TextAnalyzer.sum_word_occurences(words)

In [17]:
word_occurences

         Phrase  Times Occurred
0           the             271
1            to             171
2           you             133
3           and             113
4            in              94
...         ...             ...
1632         mr               1
1633         qi               1
1634    mariner               1
1635  professor               1
1636      snail               1

[1637 rows x 2 columns]