In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

if 'src' not in sys.path:
    sys.path.append(os.path.abspath('.'))
    sys.path.append(os.path.abspath('./src'))

In [3]:
from utils import ConfigLoader
from scraper import StardewScraper
from analysis import TextAnalyzer

In [4]:
config = ConfigLoader()
print(config)

<Config = {'wiki_url': 'https://stardewvalleywiki.com', 'request_timeout': 10, 'user_agent': 'WikiScraper/1.0', 'accept-language': 'en-US,en;q=0.9', 'word_freq_lang': 'en', 'json_path': './word-counts.json', 'mode': 'stardew_normal', 'is_debug': 0}, ConfigLoader keys = {'GOOGLE_API_KEY': '6969...******'}>

In [5]:
scraper = StardewScraper(config)

In [6]:
target = "emily"

In [7]:
html = scraper.fetch_page(target)

In [8]:
summary = scraper.parse_summary(html)

In [9]:
summary

"Emily is a villager who lives in Pelican Town. She's one of the twelve characters available to marry. Her home is south of the town square, right next to Jodi's house, at the address 2 Willow Lane. She works most evenings at The Stardrop Saloon starting at about 4:00 PM."

In [10]:
tables = scraper.extract_tables(html)

In [11]:
tables[0]

                                               Desert Festival (As Vendor).1
Desert Festival (As Vendor)
11:10 AM                                        Boards bus to Calico Desert.
11:30 AM                                               Arrives at her booth.
12:00 AM                     Leaves booth and boards bus back to the Valley.

In [12]:
count_occurrences = TextAnalyzer.sum_word_occurrences(tables[0])

In [13]:
count_occurrences

                                              word  wiki freq
0                     Boards bus to Calico Desert.          1
1                            Arrives at her booth.          1
2  Leaves booth and boards bus back to the Valley.          1

In [14]:
words = scraper.extract_all_words(html)

In [15]:
words

             word
0           emily
1     information
2        birthday
3          spring
4           lives
...           ...
6225      mariner
6226    professor
6227        snail
6228        sandy
6229       wizard

[6230 rows x 1 columns]

In [16]:
word_occurences = TextAnalyzer.sum_word_occurrences(words)

In [17]:
word_occurences

           word  wiki freq
0           the        271
1            to        171
2           you        133
3           and        113
4            in         94
...         ...        ...
1632         mr          1
1633         qi          1
1634    mariner          1
1635  professor          1
1636      snail          1

[1637 rows x 2 columns]

In [18]:
redirects = scraper.fetch_page_redirections(html)

In [19]:
redirects

['Spring',
 'Pelican Town',
 '2 Willow Lane',
 'Haley',
 'Winter',
 'Amethyst',
 'Aquamarine',
 'Cloth',
 'Emerald',
 'Jade',
 'Parrot Egg',
 'Ruby',
 'Survival Burger',
 'Topaz',
 'Wool',
 'Villagers',
 'Marriage',
 'Jodi',
 'The Stardrop Saloon',
 'Friendship',
 'Ginger Island',
 'Fall',
 'Festivals',
 "Harvey's Clinic",
 'The Desert',
 'Desert Festival',
 'Sandy',
 'Night Market',
 "Pierre's General Store",
 'Community Center',
 'Oasis',
 'Fish Shop',
 'Gus',
 'Clint',
 'Shane',
 'Flower Dance',
 'List of All Gifts',
 'Mining',
 'Loom',
 'Trinkets',
 'Cooking',
 'Bread',
 'Cave Carrot',
 'Eggplant',
 'Sheep',
 'Rabbit',
 'Fish Taco',
 'Fried Eel',
 'Ice Cream',
 'Maki Roll',
 'Rice Pudding',
 'Salmon Dinner',
 'Spicy Eel',
 'Sashimi',
 'Daffodil',
 'Foraging',
 'Quartz',
 'The Mines',
 'Void Egg',
 'Fruits',
 'Fruit Trees',
 'Salmonberry',
 'Chanterelle',
 'Common Mushroom',
 'Dandelion',
 'Ginger',
 'Hazelnut',
 'Leek',
 'Magma Cap',
 'Volcano Dungeon',
 'Morel',
 'Purple Mushroom',
 'Snow Yam',
 'Wild Horseradish',
 'Winter Root',
 'Dinosaur Egg',
 'Artifacts',
 'Frog Egg',
 'Eel',
 'Oil',
 'Milk',
 'Sugar',
 'Rice',
 'Hot Pepper',
 'Tuna',
 'Tortilla',
 'Red Cabbage',
 'Mayonnaise',
 'Holly',
 'Fish',
 'Seaweed',
 'Salmon',
 'Amaranth',
 'Kale',
 'Movie Theater',
 'Sea Urchin',
 'Salad',
 'Version History',
 'Red Plate',
 "Mayor's Manor",
 'Lewis',
 'Abigail',
 'Robin',
 'Tailoring',
 'Secret Woods',
 'Axes',
 'Large Log',
 "Rabbit's Foot",
 'Marnie',
 'Saves',
 'Wilted Bouquet',
 "Mermaid's Pendant",
 'Fiber',
 "Emily's Magic Hat",
 "Emily's Magic Boots",
 "Emily's Magic Shirt",
 'Farmhouse',
 'Multiplayer',
 'Duck Feather',
 'Refined Quartz',
 'Bean Hotpot',
 'Blueberry Tart',
 'Cookie',
 'Chocolate Cake',
 'Coffee',
 'Omni Geode',
 'Egg Festival',
 'Dance of the Moonlight Jellies',
 'Stardew Valley Fair',
 "Spirit's Eve",
 'Festival of Ice',
 'Feast of the Winter Star',
 'The Summit',
 'Quests',
 'Apricot',
 'Sewing Machine',
 'Dwarf',
 'Kent',
 'Krobus',
 'Leo',
 'Wizard',
 'Emily Portrait',
 'Alex',
 'Elliott',
 'Harvey',
 'Sam',
 'Sebastian',
 'Leah',
 'Maru',
 'Penny',
 'Caroline',
 'Demetrius',
 'Evelyn',
 'George',
 'Gil',
 'Gunther',
 'Jas',
 'Linus',
 'Marlon',
 'Pam',
 'Pierre',
 'Vincent',
 'Willy',
 'Birdie',
 'Bouncer',
 'Fizz',
 'Governor',
 'Grandpa',
 'Henchman',
 'Junimos',
 'Morris',
 'Mr. Qi',
 'Old Mariner',
 'Professor Snail']